<?xml version="1.0"?>
<config>
    <modules>
        <VKO_BlockAlco>
            <version>0.1.0</version>
        </VKO_BlockAlco>
    </modules>
    <global>
        <models>
            <blockalco>
                <class>VKO_BlockAlco_Model</class>
                <resourceModel>blockalco_resource</resourceModel>
            </blockalco>
            <blockalco_resource>
                <class>VKO_BlockAlco_Resource</class>
                <entities>
                    <block>

                    </block>
                </entities>

            </blockalco_resource>
        </models>
        <blocks>
            <blockalco>
                <class>VKO_BlockAlco_Block</class>
            </blockalco>
        </blocks>
        <helpers>
            <vko_blockalco>
                <class>VKO_BlockAlco_Helper</class>
            </vko_blockalco>
        </helpers>
        <resources>
            <vko_blockalco_setup>
                <setup>
                    <module>VKO_BlockAlco</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </vko_blockalco_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <catalog_product_is_salable_before>
                <observers>
                    <observer>
                        <class>blockalco/observer</class>
                        <method>beforeCheckItemsAvaible</method>
                        <type>model</type>
                    </observer>
                </observers>
            </catalog_product_is_salable_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <observer_cart>
                        <class>blockalco/observerCart</class>
                        <method>beforeRenderCart</method>
                        <type>model</type>
                    </observer_cart>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <BlockAlco modules="blockalco">
                    <file>blockalco.xml</file>
                </BlockAlco>
            </updates>
        </layout>
        <routers>
            <vko>
                <use>standard</use>
                <args>
                    <module>VKO_BlockAlco</module>
                    <frontName>test</frontName>
                </args>
            </vko>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vko_options>
                                            <title>vko_options</title>
                                        </vko_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>